In [1]:
import pandas as pd
from collections import Counter
import ast
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from src.utils.genres import *
from src.utils.genres import name_plot, count_genre_over_years, top_years_for_genre, bottom_years_for_genre, count_genres_by_year, calc_genre_differences, calc_genre_growth, calc_proportion_growth
import warnings
import csv
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import ne_chunk
from nltk.sentiment import SentimentIntensityAnalyzer
from src.utils import google_trends as gt
from data.Cleaning import final_df
warnings.simplefilter("ignore")

               WarName       StateName  Side  StartYear  EndYear  Outcome  \
0   Franco-Spanish War           Spain     2       1823     1823        2
1   Franco-Spanish War          France     1       1823     1823        1
2  First Russo-Turkish  Ottoman Empire     2       1828     1829        2
3  First Russo-Turkish          Russia     1       1828     1829        1
4     Mexican-American          Mexico     2       1846     1847        2

   BatDeath
0       600
1       400
2     80000
3     50000
4      6000
Index(['WarName', 'Side', 'StartYear', 'EndYear', 'StateName', 'BatDeath'], dtype='object')
                                               WarName  \
0                                        Anglo-Persian
1                                        Anglo-Persian
2                                         Arab-Israeli
3                                         Arab-Israeli
4                                                Assam
..                                                 ...
192                                 Russo-Georgian War
193  2011 military intervention in Libya Part of th...
194  2011 military intervention in Libya Part of th...
195                                      Heglig Crisis
196                                      Heglig Crisis

                                            Side  StartYear  EndYear  \
0                                              1       1856     1857
1                                              2       1856     1857
2                                              1       1948     1948
3                                              2       1948     1948
4                                              1       1962     1962
..                                           ...        ...      ...
192                                      Georgia          2     2008
193  [NATO, Qatar, Sweden, United Arab Emirates]          1     2011
194                                        Libya          2     2011
195                                        Sudan          1     2013
196                                  South Sudan          2     2013

                                 StateName  BatDeath
0                         [United Kingdom]       500
1                                   [Iran]      1500
2                                 [Israel]      3000
3    [Egypt, Syria, Lebanon, Jordan, Iraq]      5000
4                            [China (PRC)]       500
..                                     ...       ...
192                                   2008       734
193                                   2011       238
194                                   2011       238
195                                     -7       900
196                                     -7       900

[197 rows x 6 columns]
         WarName Side  StartYear  EndYear  \
0  Anglo-Persian    1       1856     1857
1  Anglo-Persian    2       1856     1857
2   Arab-Israeli    1       1948     1948
3   Arab-Israeli    2       1948     1948
4          Assam    1       1962     1962

                               StateName  BatDeath
0                       [United Kingdom]       500
1                                 [Iran]      1500
2                               [Israel]      3000
3  [Egypt, Syria, Lebanon, Jordan, Iraq]      5000
4                          [China (PRC)]       500
(197, 6)

In [ ]:
# Import data
data = pd.read_csv("data/filtered_movie_data.csv")
df = pd.DataFrame(data)